@import "tailwindcss";
@plugin "daisyui";

/* Custom theme vars */
:root {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dark {
  --color-bg: #1a1a1a;
  --color-text: #f5f5f5;
  --color-border: #ea1111;
  --div-padding: "50px";
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
